.userPageBackground {
  background-image: url("../Images//Golf6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
/* /Users/kenny/Desktop/EDA/Tier2/Golf-Handi-Calc/public/Golf2.png */
