.userPageBackground {
  background-image: url("../../../public/Golf6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  /* top: 0;
  left: 0; */
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.infoBox {
  border-radius: 10px;
  width: 280px;
  height: 180px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 36px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(247, 247, 247, 0.7);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.quickAddBox {
  margin-top: 32px;
  display: flex;

  flex-direction: row;
}
Button.quickAddButton {
  background: linear-gradient(135deg, #518c57, #248c89);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  height: auto;
  margin: 0 90px;
  font-size: 20px;
}
Button.quickAddButton:hover {
  background: linear-gradient(135deg, #314039, #248c89);
}
.welcome_header {
  color: rgb(4, 56, 38);
  text-decoration: none;
  margin-top: 100px;
  padding-top: 0px;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
  }

  .infoBox {
    width: 90%;
    height: auto;
    margin: 10px 0px;
    padding: 15px;
  }

  .quickAddBox {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .quickAddButton {
    margin: 0 0px;
    width: 90%;
  }

  .welcome_header {
    margin-top: 140px;
    font-size: 18px;
  }
}
