.userPageBackground {
  background-image: url("../../../public/Golf6.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.infoBox {
  width: 250px;
  height: 150px;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(
    247,
    247,
    247,
    0.7
  ); /* Adjusted transparency for more translucence */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.welcome_header {
  color: rgb(4, 56, 38);
  text-decoration: none;
  margin-top: 10px;
}
