.add-course-container {
  margin: 40px auto;
  padding: 30px 40px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  background-color: #1a481b;
  color: white;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #173a18;
}
.coursePage input[type="number"]:focus,
.coursePage input[type="password"]:focus,
.coursePage input[type="text"]:focus {
  border-color: #1fa73b;
  box-shadow: 0 0 10px rgba(47, 192, 25, 0.2);

  outline: none;
}
/* .add-course-container input[type="text"]:focus {
  border-color: #1fa73b;
  box-shadow: 0 0 10px rgba(47, 192, 25, 0.2);
} */
