.courseCard {
  margin: 20px 0;
}

.courseName,
.courseLocation {
  margin: 10px 0;
  font-weight: bold;
}

input {
  margin: 10px 0;
  padding: 5px;
  display: block;
}

button {
  margin-right: 10px;
}

.inputGroup {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
