.courseHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 16px;
  font-size: 30px;
}

.courseName {
  display: flex;
  justify-content: space-between;
}
