/* Add styles for the Rounds component */
.roundContainer {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.addRoundButton {
  margin: 20px 0;
}

/* Style for the RoundsItem component */
.styledRoundCard {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px); /* Lift the card slightly when hovered */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.roundScore {
  font-size: 18px;
  font-weight: bold;
}

.roundDate {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

/* Styles for the edit mode inputs */
input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for action buttons */
Button.deleteRoundButton,
Button.saveRoundButton,
Button.cancelEditButton,
Button.editRoundButton {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

/* Style for the "Edit" button */
Button.editRoundButton {
  background-color: #007bff;
  color: #fff;
}

Button.editRoundButton:hover {
  background-color: #0056b3;
}

Button.cancelEditButton {
  background-color: #fcbe01;
  color: #000;
}

Button.cancelEditButton:hover {
  background-color: #b18503;
}

Button.saveRoundButton {
  background-color: #28a745;
  color: #fff;
}

Button.saveRoundButton:hover {
  background-color: #196b2a;
}

Button.deleteRoundButton {
  background-color: #dc3545;
  color: #fff;
}

Button.deleteRoundButton:hover {
  background-color: #881823;
}

/* Styling for the search container */
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Styling for the search input */
.searchContainer input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  transition: border 0.3s, box-shadow 0.3s;
}

.searchContainer input:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
