/* Styles for the Rounds component */
.roundContainer {
  text-align: center;
  margin: 40px auto;
  max-width: 900px;
  background: linear-gradient(135deg, #e9f5f0, #acc8b1);
  padding: 20px;
  border-radius: 10px;
}

.addRoundButton {
  margin: 25px 0;
  background: linear-gradient(135deg, #0069d9, #007bff);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.addRoundButton:hover {
  background-color: #0056b3;
}

/* Style for the RoundsItem component */
.styledRoundCard {
  margin: 30px 0;
  padding: 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.roundScore {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.roundDate {
  font-size: 16px;
  color: #888;
  margin-top: 15px;
}

/* Styles for the edit mode inputs */
input[type="number"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  margin: 7px 0;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  border-color: #007bff;

  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);

  outline: none;
}

/* Style for action buttons */
Button.deleteRoundButton,
Button.saveRoundButton,
Button.cancelEditButton,
Button.editRoundButton {
  margin: 7px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  transition: background-color 0.3s;
}

/* Specific Button Styles */
Button.editRoundButton {
  background: linear-gradient(135deg, #0069d9, #007bff);
  color: #fff;
}

Button.editRoundButton:hover {
  background-color: #0056b3;
}

Button.cancelEditButton {
  background-color: #fcbe01;
  color: #000;
}

Button.cancelEditButton:hover {
  background-color: #f59e00;
}

Button.saveRoundButton {
  background-color: #28a745;
  color: #fff;
}

Button.saveRoundButton:hover {
  background-color: #1e7a34;
}

Button.deleteRoundButton {
  background-color: #dc3545;
  color: #fff;
}

Button.deleteRoundButton:hover {
  background-color: #c21d35;
}

/* Styling for the search container */
.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 20px;
}

/* Styling for the search input */
.searchContainer input {
  flex: 1;
  padding: 12px 20px;
  font-size: 18px;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  transition: border 0.3s, box-shadow 0.3s;
}

.searchContainer input:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
  outline: none;
}

.hIHeader2 {
  position: absolute;
  /* top: 100px;
  left: 50px; */
  top: 140px;
  font-weight: 600;
  font-size: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .roundContainer {
    max-width: 90%;
    padding: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .addRoundButton,
  Button.deleteRoundButton,
  Button.saveRoundButton,
  Button.cancelEditButton,
  Button.editRoundButton {
    padding: 8px 15px;
    font-size: 0.875rem;
  }

  .styledRoundCard {
    margin: 15px 0;
    padding: 20px;
  }

  .roundScore {
    font-size: 18px;
  }

  .roundDate {
    font-size: 14px;
  }

  input[type="number"],
  input[type="password"],
  input[type="text"] {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* .roundDate,
.roundScore {
  position: absolute;
} */

.roundDate {
  top: 0;
  right: 0;
  font-weight: 500;
  color: #343a40;
  margin-bottom: 20px;
}

.roundScore {
  top: 10;
  left: 100;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 20px;
}
