html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0px;

  background-color: rgba(117, 145, 117, 0.666);
}
.App {
  flex: 1 0 auto;
}

#react-root {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
  text-align: center;
}
