html,
body,
#react-root {
  height: 100%;
}
/* .login-background {
  background-image: url("../../../public/login4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

body {
  font-family: Roboto, sans-serif;
  margin: 0px;
  background-image: url("../../../public/Golf6.png"); /*3,4, 11,12, 15*/
  background-size: cover;

  background-attachment: fixed;
  /* background-color: rgba(117, 145, 117, 0.666); */
}
.App {
  flex: 1 0 auto;
}

#react-root {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
  text-align: center;
}
