.login-background {
  background-image: url("../../../public/login4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 0;

  height: 100vh;
}

.login-form {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  /* height: 50%; */
  justify-content: center;
}
.login-form input {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.loginButton {
  background-color: #1a481b;
  color: white;
  border: 2px solid #4caf50; /* Green border */
  padding: 10px 20px;
  margin-top: 20px; /* Adds space between the Login and Register buttons */
  transition: all 0.3s; /* Smooth transition for hover effects */
}
.loginButton:hover {
  background-color: rgb(164, 171, 166);
  color: #173a18;
}
