/* Media queries for screens smaller than 600px (mobile devices) */
@media only screen and (max-width: 600px) {
  .formPanel {
    width: 95%;
  }

  .gender-input label {
    margin-right: 10px;
    margin-left: 10px;
  }

  .gender-input input[type="radio"] {
    transform: scale(1.4);
  }
}
.gender-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.gender-input label {
  margin-right: 0px;
  padding: 5px;
  cursor: pointer;
  transition: background 0.3s;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.gender-input label:hover {
  background-color: rgba(220, 220, 220, 0.5);
}

.gender-input input[type="radio"] {
  margin-right: 0px;
  margin-left: 10px;
}
