.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #44604d;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  flex: 1;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  margin: auto;
  align-items: center;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}
.drawer {
  width: 33.33%;
  max-width: 600px;
  /* background-color: #f5f5f5; */
}
.drawer .MuiList-root {
  padding: 20px;
}

.drawer .MuiListItem-root {
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.1s;
}
.drawer .MuiListItem-root:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.12);
}

.drawer .MuiListItemText-root {
  font-size: 1.2em;
}
.menuButton {
  background-color: #253170;
  color: white;
  margin-left: 10px;
  border-radius: 3px;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  cursor: pointer;
  outline: 0;
  align-items: flex-end;
}

.menuButton:hover {
  background-color: #2c387e; /* Darken on hover */
  transform: scale(1.1);
}
.drawer .MuiDrawer-paper {
  transition: transform 0.3s;
  transform-origin: right;
}

.drawer .MuiDrawer-paperAnchorRight {
  transform: scale(1.05); /* Slightly enlarge the drawer when it's opened */
}
