.nav a {
  text-decoration: none;
  flex: 1;
}
.nav {
  /* flex box layout */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 0;
  background-color: #4f6e59;
  z-index: 1000;
  background-image: url("../../../public/Golf\ Logo.png");
  background-repeat: no-repeat;
  background-position: 10px, 0;
  background-size: 220px;
}

.nav-title {
  font-size: 40px;
  font-weight: 700;
  color: #f2f2f2;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #5e946d;
  text-align: center;
  padding: 24px 14px;
  text-decoration: none;
  font-size: 18px;

  /* these last two make the logout button in
  the nav bar look like another link */

  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #027e69;
}
.drawer {
  width: 33.33%;
  max-width: 600px;
  /* background-color: #f5f5f5; */
}
.drawer .MuiList-root {
  padding: 30px;
}

.drawer .MuiListItem-root {
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.2s, transform 0.1s;
}
.drawer .MuiListItem-root:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.12);
}

/* .drawer .MuiListItemText-root {
  font-size: 1.3em;
} */
.menuButton {
  background-color: none;
  color: rgb(255, 165, 96) !important;

  border-radius: 3px;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  cursor: pointer;
  outline: 0;
  align-items: flex-end;
}

.menuButton:hover {
  background-color: #777676;
  transform: scale(1.1);
}
.drawer .MuiDrawer-paper {
  transition: transform 0.2s;
  transform-origin: right;
  background-color: rgb(233, 236, 232);
}

.drawer .MuiDrawer-paperAnchorRight {
  transform: scale(1.04); /* Slightly enlarge the drawer when it's opened */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .nav {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  .nav-title {
    font-size: 24px; /* Reduce font size for mobile */
    margin-bottom: 40px;
  }

  .navLink {
    padding: 16px 7px; /* Reduce padding for mobile */
    font-size: 16px; /* Reduce font size for mobile */
  }
}
